.escolher-plano {
  padding:  2rem 0 2rem 0;
}

.escolher-plano .escolher-plano-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.escolher-plano-single {
  width: 23%;

  display: inline;
  margin: 1rem .5rem 0 .5rem;
  padding: 1rem;

  cursor: pointer;
  border-radius: 1rem;
  -webkit-box-shadow: 3px 3px 97px -31px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 97px -31px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 97px -31px rgba(0,0,0,0.75);
}

@media (max-width: 1245px) {
  .escolher-plano-single {
    width: 45%;
    max-width: 300px;
  }
}

.escolher-plano-single .saiba {
  width: 100%;

  display: flex;
  align-items: center;
}

.escolher-plano-single .saiba p {
  padding: .5rem;
  display: inline-block;
  margin: 1rem auto;

  border-radius: .5rem;
  background-color: black;
  color: white;
}



@media (max-width: 48rem) {
  .escolher-plano .escolher-plano-wrapper {
    max-width: 500px;

    margin: 0 auto;
  }

  .escolher-plano-single {
    width: 100%;
    min-width: 0;
  }

 .escolher-plano-single +  .escolher-plano-single {
   margin-top: 4rem;
 }
}

.escolher-plano .selecionar-plano {
  width: 100%;

  padding: .8rem 0;

  text-align: center;
  border-radius: .4rem;
  cursor: pointer;
  font-size: 1.2rem;
}

.escolher-plano-single.selected {
  border: 1px solid var(--primary-color);
}

.escolher-plano-single > p {
  margin:  1rem 0;

  text-align: center;
}

.escolher-plano-single .parcelas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;

  text-align: center;
  background: var(--secondary-color);
  border-radius: .5rem;
}

.escolher-plano-single .parcelas p,
.escolher-plano-single .parcelas strong  {
  font-family: gothamrounded;
}

.escolher-plano-single .parcelas p {
  font-size: .7rem;
}

.escolher-plano-single .parcelas strong {
  font-size: 1rem;
  color: var(--primary-color);
}
