.planos-taxas {
  padding:  4rem 0 2rem 0;
}

.planos-taxas .title {
  font-size: 4rem;
}

.planos-taxas h2.title {
  margin-bottom: 1rem;
}

.planos-taxas h3 {
  margin-bottom: 1.5rem;

  font-size: 3rem;
  font-weight: normal;
  text-align: center;
}

.regulamento {
  text-align: center;
  font-size: 1.5rem;
}

.regulamento a{
  color: blue;
}

.taxa-bandeira-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom:  3rem;
}

.taxa-bandeira-wrapper p {
  text-align: center;
  font-size: 1.5rem;
}

.planos-taxa-single strong, .planos-taxa-single select#parcelas {
  font-size: 2rem;
}

@media (max-width: 470px) {
  .taxa-bandeira-wrapper select {
    margin-top: .5rem;
  }
}

.planos-taxas-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom:  1.5rem;
}

.planos-taxa-single {
  width: calc(100% / 3);

  padding: 2rem 0;

  text-align: center;
}

.planos-taxas select {
  border: none;
  font-size: 1rem;
  font-weight: bold;
}

@media (max-width: 48rem) {
  .planos-taxas-wrapper {
    max-width: 400px;

    margin: 0 auto 1rem;
    flex-direction: column;
  }

  .planos-taxa-single {
    width: 100%;
  }

  .planos-taxa-single:nth-of-type(2) {
    border: 0;
  }

  .planos-taxa-single + .planos-taxa-single  {
    border-top: 1px solid #c1cfda;
  }
}

.planos-taxa-single strong{
  display: block;
}

.planos-taxa-single strong:nth-of-type(2) {
  margin: 1rem 0;

  color:  var(--primary-color);
  font-size: 3rem;
  font-family: gothamrounded;
}

.planos-taxas .container > p:nth-of-type(2) {
  font-size: .8rem;
}

.planos-taxas .container > p a {
  text-decoration: underline;
}
